# Web scraping to extract data with Beautiful Soup and create a DataFrame with Pandas library

## - Importing the pandas beautiful soup and requests library

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## - Copy and pasting the wikipedia link from where we want to extract the data and storing it in a variable

In [2]:
link='https://en.wikipedia.org/wiki/List_of_largest_companies_in_India'

## - Using the requests library to get the link page data from the link

In [3]:
page=requests.get(link)

## - Creating an instance of the beautiful soup class

In [4]:
soup=BeautifulSoup(page.text,'html')

In [5]:
# print(soup)

### - Use soup.find to find the elements by there name . example- "div", "a", "p", "title"

In [6]:
# element = soup.find(name, attrs, recursive, text, **kwargs)

In [7]:
# soup.find_all('table')[0]

## - Finding all the table elements in the html and storing the first element[0] of the list into the variable - table

In [8]:
table=soup.find_all('table')[0]

In [9]:
# finding all the headers from the table (element - 'tr')
t_headers=table.find_all('th')
t_headers

[<th align="center" colspan="2">Rank
 </th>,
 <th align="center" colspan="2">Forbes <br/>2000 rank
 </th>,
 <th align="center">Name
 </th>,
 <th align="center">Headquarters
 </th>,
 <th align="center">Revenue<br/>(billions <br/>US$)
 </th>,
 <th align="center">Profit<br/>(billions <br/>US$)
 </th>,
 <th align="center">Assets<br/>(billions <br/>US$)
 </th>,
 <th align="center">Value<br/>(billions <br/>US$)
 </th>,
 <th align="center">Industry
 </th>]

In [10]:
# looping through all the headers,extracting text , and stripping them of white spaces
columns=[i.text.strip() for i in t_headers]
columns

['Rank',
 'Forbes 2000 rank',
 'Name',
 'Headquarters',
 'Revenue(billions US$)',
 'Profit(billions US$)',
 'Assets(billions US$)',
 'Value(billions US$)',
 'Industry']

In [11]:
# creating an empty dataframe just with the column names
df=pd.DataFrame(columns=columns)

In [12]:
df

Empty DataFrame
Columns: [Rank, Forbes 2000 rank, Name, Headquarters, Revenue(billions US$), Profit(billions US$), Assets(billions US$), Value(billions US$), Industry]
Index: []

In [13]:
# finding all the rows from the table (element - 'tr')
rows=table.find_all('tr')

In [14]:
# looping throught all the rows and finding the data (element - 'td')
# extracting the text from all the row data and stripping them
# cleaning the useless list values at position 1 and 3 of every list
# adding every row to the data frame by label based indexing at the length of the dataframe
for row in rows[1:]:
    row_data=row.find_all('td')
    individual_row=[ir.text.strip() for ir in row_data]
    selected_elements = [individual_row[i] for i in range(len(individual_row)) if i not in [1, 3]]
    length=len(df)
    df.loc[length]=selected_elements

In [15]:
df

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,54,Reliance Industries,Mumbai,86.85,7.81,192.59,228.63,Conglomerate
1,2,130,TATA Group,Mumbai,150,139,160,350,Conglomerate
2,3,105,State Bank of India,Mumbai,54.52,4.32,696.51,58.39,Banking
3,4,154,HDFC Bank,Mumbai,22.51,5.11,280.16,98.28,Banking
4,5,205,ICICI Bank,Mumbai,21.89,3.01,226.39,67.9,Banking
5,6,229,Oil and Natural Gas Corporation,New Delhi,66.28,6.00,75.51,28.62,Oil and gas
6,7,269,HDFC,Mumbai,18.48,2.91,118.61,52.30,Financials
7,8,358,Indian Oil Corporation,New Delhi,72.20,3.72,51.73,16.53,Oil and gas
8,9,385,Tata Consultancy Services,Mumbai,25.73,5.14,18.68,172.79,Infotech
9,10,408,Tata Steel,Mumbai,31.07,5.01,34.62,20.42,Iron and steel
10,11,432,Axis Bank,Mumbai,11.41,1.71,152.12,31.32,Banking
11,12,484,NTPC Limited,New Delhi,17.00,2.17,55.00,20.32,Utilities
12,13,514,Larsen & Toubro,Mumbai,20.53,1.12,40.82,31.13,Capital goods
13,14,539,Infosys,Bangalore,16.33,2.97,15.56,87.21,Infotech
14,15,574,JSW Steel Ltd,Mumbai,9.50,0.50,17.40,20.10,Iron and steel
15,16,593,Vedanta Limited,Mumbai,16.38,2.63,25.3,20.21,Metals and mining
16,17,615,Bharat Petroleum,Mumbai,43.2,2.59,25.18,11.16,Oil and gas
17,18,628,Kotak Mahindra Bank,Mumbai,7.92,1.46,41.57,44.83,Banking
18,19,643,Hindalco Industries,Mumbai,24.33,1.60,27.45,15.11,Metals and mining
19,20,710,Bharti Airtel,New Delhi,14.98,0.406,48.72,56.80,Telecommunication
20,21,726,Coal India,Kolkata,14.03,2.06,22.3,16.30,Metals and mining
21,22,729,Tata Motors,Mumbai,39.04,−2.44,42.32,22.12,Automotive
22,23,789,Power Finance Corporation,New Delhi,10.15,1.86,106.71,4.10,Financials
23,24,809,HCL Technologies,Noida,11.19,1.49,11.57,39.09,Infotech
24,25,820,Wipro,Bangalore,10.07,1.64,13.69,38.44,Infotech
25,26,822,Power Grid Corporation of India,Gurgaon,5.61,2.19,34.56,20.57,Utilities
26,27,827,Grasim Industries,Mumbai,12.35,0.87,36.94,14.77,Diversified
27,28,846,ITC Limited,Kolkata,7.91,2.00,10.04,42.06,Consumer Goods
28,29,876,Bajaj Finserv,Pune,8.64,0.56,41.54,32.15,Financials
29,30,925,Canara Bank,Bangalore,12.68,0.73,164.71,5.53,Banking
30,31,954,Bank of Baroda,Vadodara,12.06,0.68,167.76,7.54,Banking
31,32,1000,Union Bank of India,Mumbai,11.28,0.67,148.94,3.62,Banking
32,33,1041,Punjab National Bank,New Delhi,12.1,0.57,178.94,5.10,Banking
33,34,1063,Mahindra & Mahindra,Mumbai,11.59,0.73,22.36,14.96,Automotive
34,35,1171,Steel Authority of India,New Delhi,12.98,1.79,15.87,5.48,Iron and steel
35,36,1215,GAIL,New Delhi,10.98,1.53,12.03,9.52,Oil and gas
36,37,1348,Indian Bank,Chennai,6.17,0.65,89.96,2.63,Banking
37,38,1362,Sun Pharmaceutical,Mumbai,5.10,0.87,9.30,28.97,Pharmaceuticals
38,39,1514,Indian Railway Finance Corporation,New Delhi,2.55,0.82,58.03,3.83,Financials
39,40,1453,Adani Enterprises,Ahmedabad,7.86,0.09,11.09,32.70,Consumer Goods
40,41,1472,IndusInd Bank,Mumbai,5.09,0.58,51.26,9.72,Banking
41,42,1525,Bank of India,Mumbai,6.26,0.39,98.51,2.66,Banking
42,43,1489,Adani Ports & SEZ Limited,Ahmedabad,2.10,0.67,11.36,24.12,Shipping
43,44,1570,Adani Green Energy,Ahmedabad,0.41,0.01,3.93,59.06,Renewable energy
44,45,1656,Rajesh Exports,Bangalore,30.00,0.15,2.7,2.50,Gems and jewellery
45,46,1687,Asian Paints,Mumbai,3.77,0.41,2.84,39.69,Chemicals
46,47,1705,Adani Transmission,Ahmedabad,1.49,0.16,6.11,38.15,Utilities
47,48,1730,Tech Mahindra,Pune,5.72,0.69,5.51,16.61,Infotech
48,49,1746,Adani Total Gas,Ahmedabad,0.35,0.07,0.50,34.74,Oil and gas
49,50,1756,Bajaj Auto,Pune,4.54,0.83,4.51,13.79,Automotive
50,51,1759,DMart,Mumbai,4.00,0.20,1.93,34.12,Retail
51,52,1759,Adyar Ananda Bhavan,Chennai,4.00,0.20,1.93,34.12,Retail

## Repeating the above steps for table 2

In [16]:
table2=soup.find_all('table')[1]

In [17]:
t2Header=table2.find_all('th')

In [18]:
t2_col=[i.text.strip() for i in t2Header]

In [19]:
df2=pd.DataFrame(columns=t2_col)
df2

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue(in  ₹ Crore), Revenue growth, Profits(in  ₹ Crore), Headquarters, State Controlled]
Index: []

In [20]:
rows2=table2.find_all('tr')

In [21]:
for row in rows2[1:]:
    row_data=row.find_all('td')
    individual_row=[i.text.strip() for i in row_data]
    length=len(df2)
    df2.loc[length]=individual_row

In [22]:
df2

,Rank,Name,Industry,Revenue(in ₹ Crore),Revenue growth,Profits(in ₹ Crore),Headquarters,State Controlled
0,1,Indian Oil Corporation,Oil and gas,"424,321",13.2%,"22,189",New Delhi,Yes
1,2,Reliance Industries Limited,Oil and gas,"410,295",28.2%,"36,075",Mumbai,
2,3,Oil and Natural Gas Corporation,Oil and gas,"333,143",11.0%,"22,106",New Delhi,Yes
3,4,State Bank of India,Banking,"306,528",2.6%,"−4,556",Mumbai,Yes
4,5,Tata Motors,Automotive,"301,175",7.9%,"8,989",Mumbai,
5,6,Bharat Petroleum,Oil and gas,"238,638",13.7%,"9,009",Mumbai,Yes
6,7,Hindustan Petroleum,Oil and gas,"221,693",13.4%,"7,218",Mumbai,Yes
7,8,Rajesh Exports,Gems and jewellery,"187,748",22.5%,"1,266",Bangalore,
8,9,Tata Steel,Iron and steel,"147,192",25.3%,"13,434",Mumbai,
9,10,Coal India,Metals and mining,"132,897",5.3%,"7,020",Kolkata,Yes
10,11,Tata Consultancy Services,Infotech,"126,745",3.6%,"25,826",Mumbai,
11,12,Larsen & Toubro,Capital goods,"122,743",10.6%,"7,370",Mumbai,
12,13,Hindalco Industries,Metals and mining,"120,428",15.5%,"6,083",Mumbai,
13,14,ICICI Bank,Banking,"118,969",4.9%,"7,712",Mumbai,
14,15,Vedanta Resources,Metals and mining,"102,192",30.8%,"10,342","London, UK",
15,16,HDFC Bank,Banking,"101,344",17.6%,"18,510",Mumbai,
16,17,Mahindra & Mahindra,Automotive,"96,377",12.2%,"7,510",Mumbai,
17,18,NTPC Limited,Utilities,"90,144",7.7%,"10,544",New Delhi,Yes
18,19,Bharti Airtel,Telecommunication,"86,704",13.0%,"1,099",New Delhi,
19,20,Maruti Suzuki India,Automotive,"81,978",15.6%,"7,880",New Delhi,
20,21,Infosys,Infotech,"73,762",3.1%,"16,029",Bangalore,
21,22,Nayara Energy,Oil and gas,"73,015",10.7%,576,Mumbai,
22,23,HDFC,Financials,"72,596",18.9%,"16,255",Mumbai,
23,24,JSW Steel Ltd,Iron and steel,"70,148",22.6%,"6,214",Mumbai,
24,25,Axis Bank,Banking,"58,477",1.5%,456,Mumbai,Yes
25,26,Steel Authority of India,Iron and steel,"57,626",28.8%,−281,New Delhi,Yes
26,27,Punjab National Bank,Banking,"57,608",0.7%,"−12,130",New Delhi,Yes
27,28,Grasim Industries,Diversified,"57,273",54.9%,"2,679",Mumbai,
28,29,Wipro,Infotech,"56,986",1.6%,"8,003",Bangalore,
29,30,Motherson Sumi Systems,Automotive,"56,839",32.7%,"1,597",Noida,
30,31,GAIL,Oil and gas,"55,503",11.6%,"4,799",New Delhi,Yes
31,32,Bank of Baroda,Banking,"54,048",3.1%,"−1,887",Vadodara,Yes
32,33,HCL Technologies,Infotech,"51,695",6.3%,"8,721",Noida,
33,34,MRPL,Oil and gas,"50,209",8.9%,"1,993",Mangalore,Yes
34,35,Canara Bank,Banking,"48,743",1.2%,"−3,951",Bangalore,Yes
35,36,ITC Limited,Consumer goods,"44,674",1.6%,"11,271",Kolkata,
36,37,Bank of India,Banking,"44,158",4.8%,"−5,961",Mumbai,Yes
37,38,General Insurance Corporation of India,Insurance,"43,555",38.9%,"3,146",Mumbai,Yes
38,39,Kotak Mahindra Bank,Banking,"38,813",14.2%,"6,201",Mumbai,
39,40,Union Bank of India,Banking,"38,413",0.4%,"−5,212",Mumbai,Yes
40,41,Hindustan Unilever,Consumer goods,"36,088",7.1%,"5,214",Mumbai,
41,42,Vodafone India,Telecommunication,"34,855",18.9%,"7,766",Mumbai,
42,43,Tata Power,Utilities,"33,213",12.8%,"2,477",Mumbai,
43,44,Chennai Petroleum Corporation,Oil and gas,"33,187",20.0%,927,Chennai,Yes
44,45,Hero MotoCorp,Automotive,"33,141",12.9%,"3,720",New Delhi,
45,46,Tech Mahindra,Infotech,"32,190",7.6%,"3,800",Pune,
46,47,UltraTech Cement,Cement,"32,106",23.7%,"2,222",Mumbai,
47,48,Petronet LNG,Oil and gas,"30,949",23.9%,"2,110",New Delhi,Yes
48,49,Power Grid Corporation of India,Utilities,"30,908",16.1%,"8,198",Gurgaon,Yes
49,50,Bajaj Finserv,Financials,"30,599",24.9%,"2,741",Pune,

## Storing the table into a csv file(s)

In [23]:
df.to_csv('/Users/ayushlingwal/Pandas Projects/Web Scrape DataFrame/Forbes_2022.csv',index=False)

In [24]:
df2.to_csv('/Users/ayushlingwal/Pandas Projects/Web Scrape DataFrame/Fortune_2021.csv',index=False)